* {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
    background-color: #abd1f4;
}

header {
    align-content: center;
}

/* body {
    padding: 20px;
} */

.h1 {
    justify-items: center;
}

.row{
    background-color: #abd1f4;
}

#forcast {
    
}